[submodule "Modules/fmt"]
	path = Modules/fmt
	url = https://github.com/fmtlib/fmt
[submodule "Modules/nlohmann"]
	path = Modules/nlohmann
	url = https://github.com/nlohmann/json
[submodule "Modules/zlib"]
	path = Modules/zlib
	url = https://github.com/madler/zlib
[submodule "Modules/argh"]
	path = Modules/argh
	url = https://github.com/adishavit/argh
[submodule "Modules/spdlog"]
	path = Modules/spdlog
	url = https://github.com/gabime/spdlog
